<h1>Search for GitHub User</h1>

<%= form_with scope: :search, url: search_path, local: true do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username, required: true %>
  </p>
  <p>
    <%= form.submit "search" %>
  </p>
<% end %>